<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="page">

      <header class="main">
        <h1>Nick Jones is a design technologist, UX designer and graphic artist.</h1>
      </header>

      <div class="avatar"></div>

      <h4 class="centered">
        I've been working with design and technology for many years&mdash;striving to bridge computer science and graphic design.
      </h4>

      <div class="gauges">
        <dl class="gauges__gauge">
          <dt>17</dt>
          <dd>Years</dd>
        </dl>
        <dl class="gauges__gauge">
          <dt>10</dt>
          <dd>Years in UX</dd>
        </dl>
        <dl class="gauges__gauge">
          <dt>8</dt>
          <dd>Years Solo</dd>
        </dl>
      </div>

      <div class="articles">
        <article>
          <h4>Lead Product Design/Lead Design Technologist at Custom Ink:</h4>
          <ul>
            <li>Worked to redevelop several experiences (product catalog, global navigation)</li>
            <li>My work helped to preserve a rebrand effort that was losing in user testing, and was set to be scrapped.</li>
            <li>Lead the first major reboot of the Custom Ink design/composition system, called Style Bitz. Allows engineers to focus on implementation and designers to focus on composition instead of wholesale redesign for new experiences. Drastically improves time to market, consistency across apps, etc.</li>
            <li>UX research, prototyping, OKR development, team manager</li>
          </ul>
        </article>

        <article>
          <h4>Co-founder and operator of front-end/web design consultancy Tiny Goat. Did work for:</h4>
          <p>Tiny Goat was essentially a "product team for hire".</p>
          <ul>
            <li>Some funded startups</li>
            <li>Some partner projects
              <ul>
                <li>Prudential Insurance</li>
                <li>Children's National Hospital</li>
              </ul>
            </li>
            <li>Concepting and web development for rebrand and relaunch of KFC global partner program</li>
          </ul>
        </article>

        <article>
          <h4>Agency brat&mdash;doing front end, graphic design, traditional web development:</h4>
            <ul>
              <li>At the Virginian Pilot, worked to revitalize both virginianpilot.com as well as pilotonline.com and every other commercial vertical in the portfolio. Successfully migrated decades of table-based layouts and home-grown Coldfusion code to CSS3 and a real CMS.</li>
              <li>Designed and senior development on a relaunch of virginia.org, a massive tourism portal for the state of Virginia</li>
            </ul>
        </article>
      </div>

    </div>
  </body>
</html>
