<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <header role="header">
      <h1>Nick Jones</h1>
      <h3 class="upcase">Designer, Developer, UX-er, Curious Human</h3>
    </header>
    <div class="content">
    </div>

    <script id="__bs_script__">//<![CDATA[
      document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.23.3'><\/script>".replace("HOST", location.hostname));
    //]]></script>
  </body>
</html>
