@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|VT323");
body {
  margin: 0;
  background: #fff; }

* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  color: #444444; }

p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 1.61051rem; }

h2 {
  font-size: 1.4641rem; }

h3 {
  font-size: 1.331rem; }

h4 {
  font-size: 1.21rem; }

h5 {
  font-size: 1.1rem; }

h6 {
  font-size: 1rem; }

.centered {
  text-align: center;
  color: #ED6A5A;
  padding: 0 12px;
  margin-top: 20px; }

.main {
  height: 50vh;
  background: url("/images/background.png") top center no-repeat;
  background-size: cover;
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex; }

.main h1 {
  flex: auto;
  align-self: center;
  font-size: 4vh; }

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 100px;
  background: url("/images/me.png") center -10px no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: -64px;
  border: 3px solid #fff; }

.menubar {
  background: #545677;
  display: flex;
  height: 40px;
  padding: 12px; }

.menubar__icon {
  flex: 1 1 0;
  font-size: 2rem;
  color: #b4b5ca; }

.gauges {
  display: flex; }

.gauges__gauge {
  flex: 1 1 0;
  font-size: 2.14359rem; }
  .gauges__gauge dt {
    text-align: center;
    font-weight: bold; }
  .gauges__gauge dd {
    text-align: center;
    font-size: 0.90909rem;
    width: 100%;
    margin: 0; }

.articles {
  padding: 20px; }
