@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|VT323');

$body-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
$header-font: 'Roboto', Helvetica, Arial, sans-serif;
$mono-font: "Lucida Console", Monaco, monospace;

body {
  font-family: $body-font;
  color: $color-black;
}

p {
  font-family: $body-font;
  font-size: ms(0);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-weight: 300;
  font-family: $header-font;
}

h1 {
  font-size: ms(5);
}
h2 {
  font-size: ms(4);
}
h3 {
  font-size: ms(3);
}
h4 {
  font-size: ms(2);
}
h5 {
  font-size: ms(1);
}
h6 {
  font-size: ms(0);
}

.centered {
  text-align: center;
  color: $color-red;
  padding: 0 $space-m;
  margin-top: $space-xl;
}
